body {
    background-color: white;
}

h1 {
    color: white;
    margin-left: 20px;
}

div {
    width: 640px;
    height: 380px;
    border: 3px solid black;
    padding: 50px;
    margin: 20px;
}


text {
    width: 640px;
    height: 80px;
}

.title {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 480px;
    width: 640x;
    border: 1px solid black;
}